@model LoginViewModel

<h2>Login</h2>
@if (ViewBag.Message != null)
{
    <div style="color:red; font-weight:bold; margin:10px 0;">
        @ViewBag.Message
    </div>
}
<form method="post" asp-action="Login">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div style="color:red">@Model.ErrorMessage</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

  @*   <script
        var tokenExpiry = new Date('@HttpContext.Session.GetString("TokenExpiry")');
        var now = new Date();

        var timeout = tokenExpiry - now;
        if(timeout > 0) {
            setTimeout(function(){
                alert("আপনার সেশন শেষ হয়ে গেছে। আবার লগইন করতে হবে।");
                window.location.href = '/Account/Login';
            }, timeout);
        }
    </script> *@

}
